
<link rel="stylesheet" href="/css/footer.css">
    
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        Developed by Kshitiz Vikram Singh ©️
      </p>
    </div>
  </footer>
</html>