<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/bulma.js"></script>
    


      <nav class="navbar" role="navigation" aria-label="main navigation">
        <a href="/">
          <b>Manokamna Dham</b> 
        </a> 
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home (नीव)
            </a>
      
            <a class="navbar-item" href="/contribute">
              Contribute (योगदान)
            </a>

            <a class="navbar-item" href="/reachus">
              Way to Reach us (हमारा पता)
            </a>

            <a class="navbar-item" href="/acknowledgements">
              Acknowledgements (स्वीकृती)
            </a>
      
        
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
             
            </div>
          </div>
        </div>
      </nav>
      