<%- include('./partials/header.ejs') -%>
<link rel="stylesheet" href="/css/acknowledgements.css"> 
</head>
<body>


  <section class="hero ">
    <div class="hero-body">
      <p class="title">
        Dham Development
      </p>
      <p class="subtitle">
        Co-Operative Society, GDA (Ghaziabad Development Authority)
      </p>
    </div>
  </section>

  <section class="hero">
    <div class="hero-body">
      <p class="title">
        Jasvir Fauji, Pramod Chaudhary, sanjay pahelwan, Tarun kaushik (Titu), Rampal Kaushik, Bhupendra Chaudhary (Bhure), Vikram Chaudhary, Brahmpal Kaushik, Ravindra Chaudhary (Raviya), Pramod Kaushik (Raju), Parashant Kaushik, Vinod Kaushik, Mukesh Kaushik, Amit Chaudhary (Pintu), Sachin Kaushik, Neeraj Chaudhary, Bobby Pahelwan, Praveen Chaudhary, Sandeep Tyagi, Kuldeep Chaudhary, Chaman Singh, Shivam Thakur, Deepak Kumar, Sangeet Chaudhary, DInesh Sharma.
      </p>
      <p class="subtitle">
       Community Members (Dham Development)
      </p>
    </div>
  </section>

  <section class="hero ">
    <div class="hero-body">
      <p class="title">
        Web App Development
      </p>
      <p class="subtitle">
        <a href="http://kshitizvikramsingh.com">Kshitiz Vikram Singh</a>
      </p>
    </div>
  </section>


  <section class="hero ">
    <div class="hero-body">
      <p class="title">
        Payment Gateway
      </p>
      <p class="subtitle">
        <a href="https://razorpay.com">RazorPay</a>
      </p>
    </div>
  </section>

  <section class="hero ">
    <div class="hero-body">
      <p class="title">
        Server Engine
      </p>
      <p class="subtitle">
       <a href="https://nodejs.org">NodeJS</a> 
      </p>
    </div>
  </section>
            

  <section class="hero">
    <div class="hero-body">
      <p class="title">
        Application Hosted on
      </p>
      <p class="subtitle">
        <a href="https://aws.com">AWS</a>
      </p>
    </div>
  </section>

  
              