<%- include('./partials/header.ejs') -%>
<link rel="stylesheet" href="/css/acknowledgements.css"> 
</head>
<body>

    <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">NodeJS</h5>
                      <h6 class="card-subtitle mb-2">Developed on NodeJS</h6>
                      <a href="https://nodejs.org" target="_blank" class="card-link">NodeJS</a>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">EJS</h5>
                      <h6 class="card-subtitle mb-2">Web pages developed on EJS</h6>
                      <a href="https://ejs.co/" target="_blank" class="card-link">EJS</a>
                    </div>
                  </div>
              </div>
            
            
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">RazorPay</h5>
                      <h6 class="card-subtitle mb-2">Payment Gateway powered by RazorPay</h6>
                      <a href="https://razorpay.com/" target="_blank"="card-link">RazorPay</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
            
              