<%- include('./partials/header.ejs') -%>
<title>Manokamna Dham Mandir</title>
<link rel="stylesheet" href="/css/connection.css"> 
<link rel="icon" href="http://example.com/favicon.png">
</head>
<body>
    <h1>महसूस कीजिए संबंध (Feel the Connection)</h1>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <img src="/img/nature-1.jpeg" class="img-fluid" alt="...">
          <div class="card">
            <div class="card-body ">
             <b> Lush greeney environment surrounded with flora and fauna, enjoy cool breeze ensuring positive vibes all around</b>
            </div>
          </div>
        </div>
      
        <div class="col-md-auto">
          <img src="/img/nature-2.jpeg" class="img-fluid" alt="...">
          <div class="card">
            <div class="card-body ">
              <b> Way to the Dham</b>            </div>
          </div>
        </div>
        <div class="col-md-auto">
          <img src="/img/nature-3.jpeg" class="img-fluid" alt="...">
          <div class="card">
            <div class="card-body ">
              <b> Lush greeney environment surrounded with flora and fauna, enjoy cool breeze ensuring positive vibes all around</b>            </div>
          </div>
        </div>
      
        <div class="col-md-auto">
          <img src="/img/nature-4.jpeg" class="img-fluid" alt="...">
          
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <b> Close to a tree planting zone to ensure the environment is preserved.</b>      </div>
    </div>
</body>