<%- include('./partials/header.ejs') -%>
<link rel="stylesheet" href="/css/contribute.css"> 
</head>
<body>
  
      <div class="tile is-ancestor">
        
            <div class="tile is-parent is-vertical">
              <article class="tile is-child ">
                <p class="title">
                  <h5 class="title is-5"><b>Your Contribution would be appreciated!</b></h5>
                  <h6 class="title is-5 "><b>आपका योगदान प्रशंसनिए रहेगा</b></h6>
                  <p class="title is-5"><b>Please enter the amount you want to contribute below:</b> </p>
                  <h6 class="title is-5"><b>कृपया अपना योगदान नीचे डालें</b> </h6>
                </p>
                <p class="title"> <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_MNrrttqbbgVwpW" async> </script> </form></p>
              </article>
              
            </div>
           
              </div>   

        <div class="tile is-ancestor">
        
          <div class="tile is-parent is-vertical">
            <article class="tile is-child ">
              <p class="title is-5">
                <h5 class="title is-5"><b>You may also contribute by visiting the Dham and sharing your ideas for improvemnt.</b></h5>
                <h6 class="title is-5 "><b>आप धाम आकर भी अपना योगदान दे सकते हैं और बता सकते हैं कि हम और बहतरी कैसे कर सकते हैं।  </b></h6>
                <h6 class="title is-5 "><b> हमारा पता नीचे दिया हुआ है (Our address is given below):  </b></h6>
                <h6 class="title is-5 "><b>नंगला पाठ खेड़ा, मधुबन बापुधाम, गाज़ियाबाद, उत्तर प्रदेश - २ ० १ ० ० २ (Nangla Path Kheda, Madhuban Bapudham, Ghaziabad, Uttar Pradesh- 201002)  </b></h6>
            </article>
            
          </div>
         
            </div>
      
            <%- include('./partials/footer.ejs') -%>
</body>

