<%- include('./partials/header.ejs') -%>
<link rel="stylesheet" href="/css/contribute.css"> 
</head>
<body>

    <div class="container">
        <div class="row">
          <div class="col">
            
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Your Contribution would be appreciated!</h5>
                  <h6 class="card-subtitle mb-2 text-muted">आपका योगदान प्रशंसनिए रहेगा </h6>
                  <p class="card-text">Please enter the amount you want to contribute below: </p>
                  <h6 class="card-subtitle mb-2 text-muted">कृपया अपना योगदान नीचे डालें </h6>
                  
                  
                  <form  action="/payment">
                    <input name="amt" placeholder="under Development">
                    <button>Pay</button>
                </form>
        
        
                </div>
              </div>
          </div>
          <div class="col">
            
          </div>
        </div>
      </div>


      <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_MNrrttqbbgVwpW" async> </script> </form>
    
    
</body>

