<%- include('./partials/header.ejs') -%>
<title>Manokamna Dham Mandir</title>
<link rel="stylesheet" href="/css/homepage.css"> 
<link rel="icon" href="http://example.com/favicon.png">
</head>
<body>
  <div id="snowflakeContainer">
    <img class="snowflake" src="/">
  </div>
 <h1 class="title" id="top-title"><b>मनोकामना धाम में आपका स्वागत है। </h1>
    
  <div id="loadIcon">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <section class="hero" id="top-level-hero">
      <div class="hero-body">
        <p class="title">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Youtube Subscribers</p>
                <p class="title">73</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Instagram Followers</p>
                <p class="title">315</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Twitter Followers</p>
                <p class="title">906</p>
              </div>
            </div>
          </nav>
        </p>
      </div>
    </section>
    


    <section class="hero" id="hero-1">
      <div class="hero-body">
        <div id="border">
          <p class="title" id="hero-title">
            &nbsp मनोकामना धाम 
          </p>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-4 is-parent">
            
             <div class="tile is-child ">
              <p class="title"></p>
              <figure class="image">
                <iframe   width="300px" height="200px"src="https://www.youtube.com/embed/doT8VspNsVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </figure>
             </div>
            </div>
          <div class="tile is-8 is-parent">
            <div class="tile is-child ">
              <p class="title"></p>
              <p class="title">Devotion cleanses the soul and a cleansed soul never indulges in bad things.</p>
              <p class="title">भक्ति मन साफ़ कर देती है और साफ़ मन कभी भी बुरे कर्मों में नहीं लगता है। </p>
              
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero" id="hero-2">
      <div class="hero-body">
        <div id="border">
          <p class="title" id="hero-title">
            &nbsp मनोकामना धाम 
          </p>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-4 is-parent">
            <div class="tile is-child ">
              <p class="title"></p>
              <figure class="image is-16by9">
                <img src="/img/Manokamna_Dham_Mandir (1).jpeg">
              </figure>
             </div>
             </div>
          <div class="tile is-8 is-parent">
            <div class="tile is-child ">
              <p class="title"></p>
              <p class="title">Get a chance to feel and connect with our universe.</p>
              <p class="title">पाईए मौका ब्रहम्मांड को महसूस करने के लिए और जुडने के लिए। </p>
              
            </div>
          </div>
        </div>
          </div>
      </div>
    </section>


    <section class="hero" id="hero-3">
      <div class="hero-body">
        <div id="border">
          <p class="title" id="hero-title">
            &nbsp मनोकामना धाम 
          </p>
         
        </div>
    
         
    <div class="tile is-ancestor">
      <div class="tile is-4 is-parent">
        <div class="tile is-child ">
          <p class="title"></p>
          <figure class="image is-16by9">
            <img src="/img/Manokamna_Dham_Mandir (2).jpeg">
          </figure>
         </div>
        </div>
      <div class="tile is-8 is-parent">
        <div class="tile is-child ">
          <p class="title"></p>
          <p class="title">The Dham is surrounded by lush greenery and a plantation zone to preserve the culture around.</p>
          <p class="title">धाम पेड़ पौधों से घिरा हुआ है और पास में ही वृक्षारोपण की व्यवस्था भी है ताकी जगह का सार बचा रहे। </p>
          
        </div>
      </div>
    </div>
      </div>
      
    </section>
      
  
<script src="/js/loading.js"></script>
<script src="/js/snowflakes.js"></script>
</body>
<%- include('./partials/footer.ejs') -%>






   
    


   














   

    


    
</body>
</html>