<%- include('./partials/header.ejs') -%>
<title>Manokamna Dham Mandir</title>
<link rel="stylesheet" href="/css/homepage.css"> 
<link rel="icon" href="http://example.com/favicon.png">
</head>
<body>
  <div id="snowflakeContainer">
    <img class="snowflake" src="/img/x.svg">
  </div>

    <h1 class="title"><b>рдордиреЛрдХрд╛рдордирд╛ рдзрд╛рдо рдореЗрдВ рдЖрдкрдХрд╛ рд╕реНрд╡рд╛рдЧрдд рд╣реИред </h1>
    <div id="loadIcon">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    
    <section class="hero" id="hero-1">
      <div class="hero-body">
        <div id="border">
          <p class="title">
            рдордиреЛрдХрд╛рдордирд╛ рдзрд╛рдо 
          </p>
        </div>
        
        <iframe width="320px" height="300px" src="https://www.youtube.com/embed/YP5ZdYhd9XQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p class="subtitle">
          <b>Happy Independence Day 2023! ЁЯОИЁЯОИ</b>
        </p>
      </div>
    </section>

    <section class="hero" id="hero-2">
      <div class="hero-body">
        <div id="border">
          <p class="title">
            рдордиреЛрдХрд╛рдордирд╛ рдзрд╛рдо 
          </p>
        </div>
        
        <iframe width="320px" height="300px" src="https://www.youtube.com/embed/YP5ZdYhd9XQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p class="subtitle">
          <b>Happy Independence Day 2023! ЁЯОИЁЯОИ</b>
        </p>
      </div>
    </section>


    <section class="hero" id="hero-3">
      <div class="hero-body">
        <div id="border">
          <p class="title">
            рдордиреЛрдХрд╛рдордирд╛ рдзрд╛рдо 
          </p>
        </div>
        
        <iframe width="320px" height="300px"src="https://www.youtube.com/embed/YP5ZdYhd9XQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p class="subtitle">
          <b>Happy Independence Day 2023! ЁЯОИЁЯОИ</b>
        </p>
      </div>
    </section>

  
<script src="/js/loading.js"></script>
<script src="/js/snowflakes.js"></script>
</body>







   
    


   














   

    


    
</body>
</html>