<%- include('./partials/header.ejs') -%>
<title>Manokamna Dham Mandir</title>
<link rel="stylesheet" href="/css/homepage.css"> 
<link rel="icon" href="/img/space.jpg">
</head>
<body>
    <h1><b><div>।। गुरु गोरखनाथ महाराज की जय ।। </div> <div>।। श्री मनोकामना धाम की जय ।। </div> <div>।। श्री बालाजी महाराज की जय ।। </div></b> </h1>

    <div class="container" id="containerForFrontCards">
        <div class="row row-cols-auto" >
          <div class="col">

            <!-- card content -->
            <div class="card" style="width: 18rem;">
                <img src="/img/Manokamna_Dham_Mandir (1).jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">पूजा स्थल (Place of Worship)  </h5>
                  <a href="#" class="btn btn-primary">Know More</a>
                </div>
              </div>


          </div>
          <div class="col">

            <!-- card content -->
            <div class="card" style="width: 18rem;">
                <img src="/img/Manokamna_Dham_Mandir (2).jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">महसूस कीजिए संबंध (Feel the Connection)</h5>
                  <a href="#" class="btn btn-primary">Know More</a>
                </div>
              </div>
          </div>


          <div class="col">
            
            <!-- card content -->
            <div class="card" style="width: 18rem;">
            <img src="/img/Manokamna_Dham_Mandir (3).jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">मंदिर का द्वार (Gateway to the Temple)</h5>
              <a href="#" class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
          
        
        <div class="col">

            <!-- card content -->
            <div class="card" style="width: 18rem;">
                <img src="/img/contri.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">योगदान दीजिए विकास की तरफ़ (Contribute towards Development)</h5>
                  <a href="#" class="btn btn-primary">Know More</a>
                </div>
              </div>
          </div>

          <div class="col">

            <!-- card content -->
            <div class="card" style="width: 18rem;">
                <img src="/img/found.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">नीव (Foundation)</h5>
                  <a href="#" class="btn btn-primary">Know More</a>
                </div>
              </div>
          </div>


          <div class="col">

            <!-- card content -->
            <div class="card" style="width: 18rem;">
                <img src="/img/religion.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">(Togetherness among Religions)</h5>
                  <a href="#" class="btn btn-primary">Know More</a>
                </div>
              </div>
          </div>


        </div>
      </div>











   
    


   














   

    


    
</body>
</html>