<%- include('./partials/header.ejs') -%>
<title>Manokamna Dham Mandir</title>
<link rel="stylesheet" href="/css/homepage.css"> 
<link rel="icon" href="http://example.com/favicon.png">
</head>
<body>
  <div id="snowflakeContainer">
    <img class="snowflake" src="/">
  </div>
 <h1 class="title" id="top-title"><b>рдордиреЛрдХрд╛рдордирд╛ рдзрд╛рдо рдореЗрдВ рдЖрдкрдХрд╛ рд╕реНрд╡рд╛рдЧрдд рд╣реИред </h1>
    
  <div id="loadIcon">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <section class="hero" id="top-level-hero">
      <div class="hero-body">
        <p class="title">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Youtube Subscribers</p>
                <p class="title">73</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Instagram Fllowers</p>
                <p class="title">315</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Twitter Followers</p>
                <p class="title">906</p>
              </div>
            </div>
          </nav>
        </p>
      </div>
    </section>
    


    <section class="hero" id="hero-1">
      <div class="hero-body">
        <div id="border">
          <p class="title" id="hero-title">
            &nbsp рдордиреЛрдХрд╛рдордирд╛ рдзрд╛рдо 
          </p>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-4 is-parent">
            
             <div class="tile is-child ">
              <p class="title"></p>
              <figure class="image">
                <iframe src="https://www.youtube.com/embed/YP5ZdYhd9XQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </figure>
             </div>
            </div>
          <div class="tile is-8 is-parent">
            <div class="tile is-child ">
              <p class="title"></p>
              <p class="title">Manokamna Dham has a place for all to pray to the gods and enjoy the connection with the nature.</p>
              <p class="title">рдордиреЛрдХрд╛рдордирд╛ рдзрд╛рдо рдореЗрдВ рдкреВрдЬрд╛ рдХрд░рдиреЗ рдХреА рдмрд╣реБрдд рдмреЬреА рдЬрдЧрд╣ рд╣реИ рдФрд░ рдЖрдк рдЖрд░рд╛рдо рд╕реЗ рдкреНрд░рдХреГрддрд┐ рдХрд╛ рдЖрдирдВрдж рднреА рд▓реЗ рд╕рдХрддреЗ рд╣реИрдВред</p>
              
            </div>
          </div>
        </div>
        <p class="subtitle">
          <b>Happy Independence Day 2023! ЁЯОИЁЯОИ</b>
        </p>
      </div>
    </section>

    <section class="hero" id="hero-2">
      <div class="hero-body">
        <div id="border">
          <p class="title" id="hero-title">
            &nbsp рдордиреЛрдХрд╛рдордирд╛ рдзрд╛рдо 
          </p>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-4 is-parent">
            <div class="tile is-child ">
              <p class="title"></p>
              <figure class="image is-16by9">
                <img src="/img/Manokamna_Dham_Mandir (1).jpeg">
              </figure>
             </div>
             </div>
          <div class="tile is-8 is-parent">
            <div class="tile is-child ">
              <p class="title"></p>
              <p class="title">Manokamna Dham has a place for all to pray to the gods and enjoy the connection with the nature.</p>
              <p class="title">рдордиреЛрдХрд╛рдордирд╛ рдзрд╛рдо рдореЗрдВ рдкреВрдЬрд╛ рдХрд░рдиреЗ рдХреА рдмрд╣реБрдд рдмреЬреА рдЬрдЧрд╣ рд╣реИ рдФрд░ рдЖрдк рдЖрд░рд╛рдо рд╕реЗ рдкреНрд░рдХреГрддрд┐ рдХрд╛ рдЖрдирдВрдж рднреА рд▓реЗ рд╕рдХрддреЗ рд╣реИрдВред</p>
              
            </div>
          </div>
        </div>
          </div>
      </div>
    </section>


    <section class="hero" id="hero-3">
      <div class="hero-body">
        <div id="border">
          <p class="title" id="hero-title">
            &nbsp рдордиреЛрдХрд╛рдордирд╛ рдзрд╛рдо 
          </p>
         
        </div>
    
         
    <div class="tile is-ancestor">
      <div class="tile is-4 is-parent">
        <div class="tile is-child ">
          <p class="title"></p>
          <figure class="image is-16by9">
            <img src="/img/Manokamna_Dham_Mandir (2).jpeg">
          </figure>
         </div>
        </div>
      <div class="tile is-8 is-parent">
        <div class="tile is-child ">
          <p class="title"></p>
          <p class="title">Manokamna Dham has a place for all to pray to the gods and enjoy the connection with the nature.</p>
          <p class="title">рдордиреЛрдХрд╛рдордирд╛ рдзрд╛рдо рдореЗрдВ рдкреВрдЬрд╛ рдХрд░рдиреЗ рдХреА рдмрд╣реБрдд рдмреЬреА рдЬрдЧрд╣ рд╣реИ рдФрд░ рдЖрдк рдЖрд░рд╛рдо рд╕реЗ рдкреНрд░рдХреГрддрд┐ рдХрд╛ рдЖрдирдВрдж рднреА рд▓реЗ рд╕рдХрддреЗ рд╣реИрдВред</p>
          
        </div>
      </div>
    </div>
      </div>
      
    </section>
      
  
<script src="/js/loading.js"></script>
<script src="/js/snowflakes.js"></script>
</body>
<%- include('./partials/footer.ejs') -%>






   
    


   














   

    


    
</body>
</html>