<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="https://manokamnadham.auth.us-east-1.amazoncognito.com/logout?client_id=3r9270ruo09dg8ac1vj7ft1dg&logout_uri=http://localhost/logout">Logout</a>
    <h1 class=" title">You have been logged in successfully</h1>
</body>
</html>