<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="https://manokamnadham.auth.us-east-1.amazoncognito.com/login?client_id=3r9270ruo09dg8ac1vj7ft1dg&response_type=code&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%2Flogin">Login again</a>
    <h1>You have been logged out</h1>
</body>
</html>