<%- include('./partials/header.ejs') -%>

The unique order ID is:
<h3 id="orderID"><%= orderID %></h3>
<h3 id="amt"> <%= amt %></h3>

    <button id="button">Click to make a Payment</button>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script src="/js/payment.js"></script>





