<%- include('./partials/header.ejs') -%>
<title>Manokamna Dham Mandir</title>
<link rel="stylesheet" href="/css/poojaSthal.css"> 
<link rel="icon" href="http://example.com/favicon.png">
</head>
<body>
    <h1 class="title">हम सबकी जगह  (A Place for Everyone)</h1>
    <section class="hero ">
      <div class="hero-body">
        <p class="title">
          हम स्वागत करते हैं सभी लोगों का ताकी वह ब्रहम्मांड से जुड़ सकें। आप किसी भी पाबंदी में नहीं रहेंगे। यह एक ऐसी जगह है जहां हम एक दूसरे से खुलकर बात चीत कर सकते हैं।
        </p>
        <p class="title">
          We welcome people from everywhere to visit the place and feel connected to the universe, not bound by restrictions. A place where all can interact and get to know each other better.
        </p>
      </div>
    </section>
    <figure class="image is-2by1">
      <img src="/img/religions.jpg">
    </figure>
     
      <section class="hero ">
        <div class="hero-body">
          <p class="title">
            ब्रहम्मांड की पहेलियों को महसूस करें और ब्रहम्मांड से जुड़े। 
          </p>
          <p class="title">
            Connect the dots of the universe and feel it all around.
          </p>
        </div>
      </section>

    
      
     
      
      
      
  
    
      
      
</body>