<%- include('./partials/header.ejs') -%>
<title>Manokamna Dham Mandir</title>
<link rel="stylesheet" href="/css/poojaSthal.css"> 
<link rel="icon" href="http://example.com/favicon.png">
</head>
<body>
    <h1>पूजा स्थल (Place of Worship)</h1>
    <div class="card">
        <div class="card-body">
         <b> We welcome people from everywhere to visit the place and feel connected to the universe, not bound by restrictions. A place where all can interact and get to know each other better.</b>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
         <b> हम स्वागत करते हैं सभी लोगों का ताकी वह भराहमांढ़ से जुड़ सकें। आप किसी भी पाबंदी में नहीं रहेंगे। यह एक ऐसी जगह है जहां हम एक दूसरे से खुलकर बात चीत कर सकते हैं। </b>
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          
          <div class="col">
            <img src="/img/religions.jpg"  style="margin: 20px" class="img-fluid" alt="All Religions">
          </div>
          
        </div>
      </div>

      <div class="card">
        <div class="card-body">
         <b> Connect the dots of the universe and feel it all around.</b>
        </div>
      </div>
      
      <div class="card" >
        <div class="card-body">
         <b> भ्राहमांण की पहेलियों को महसूस करें और राहमांण से जुड़े।  </b>
        </div>
      </div>
      
      
      
      
</body>