<%- include('./partials/header.ejs') -%>
<title>Manokamna Dham Mandir</title>
<link rel="stylesheet" href="/css/homepage.css"> 
<link rel="icon" href="http://example.com/favicon.png">
</head>
<body>
<h1 style="color: rgb(3, 61, 148);"> Way to Reach Us (हमारा पता)</h1>
    <div class="card">
        <div class="card-body">
            <h1>नंगला पाठ खेड़ा, मधुबन बापुधाम</h1>
            <h1>गाज़ियाबाद, उत्तर प्रदेश - २ ० १ ० ० २</h1>
            <h1>Nangla Path Kheda, Madhuban Bapudham, Ghaziabad, Uttar Pradesh- 201002</h1>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
            <h1>मोबाईल (Mobile)-  +91-9069787878 (+९१ -९ ० ६ ९ ७ ८ ७ ८ ७ ८ )</h1>
            
        </div>
      </div>
</body>
