<%- include('./partials/header.ejs') -%>
<title>Manokamna Dham Mandir</title>
<link rel="stylesheet" href="/css/reachus.css"> 

<script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />


</head>
<body>
<h1 class="title" style="color: rgb(3, 61, 148); text-align: center;"> Way to Reach Us (हमारा पता)</h1>
<div class="tile is-ancestor">
  <div class="tile is-12  is-parent">
    <div class="tile is-child box">
      
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d218.69882880862565!2d77.47737226475111!3d28.714128526974992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cf3ddb44f32a1%3A0x43791d6132289d40!2sShree%20Balaji%20Manokamana%20Dham!5e0!3m2!1sen!2sin!4v1692131080172!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

     
    </div>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <p class="title">
      “Above all, remember that God looks for solid virtues in us, such as patience, humility, abnegation of your own will”
    </p>
    <p class="subtitle">
      Pushpa
    </p>
  </div>
 
</div>


<div class="card">
  <div class="card-content">
  
    <figure class="image">
      <img  src="/img/nature-1.jpeg">
    </figure>
  </div>
  
</div>


<div class="card">
  <div class="card-content">
    <figure class="image">
      <img  src="/img/nature-2.jpeg">
    </figure>
  </div>
 
</div>



      
<%- include('./partials/footer.ejs') -%>
</body>
