<%- include('./partials/header.ejs') -%>
<link rel="stylesheet" href="/css/success.css"> 
<link rel="icon" href="/img/space.jpg">
</head>

<h1>Payment Successful</h1>

<h2>The Payment ID for your reference: </h2><%= payID %>

<h2>Payment Signature for your reference: <%= paySign %></h2>