<%- include('./partials/header.ejs') -%>

<link rel="stylesheet" href="/css/team.css"> 
</head>
<body>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <div class="snowflake"></div>
    <h1 class="title"> Meet the Team</h1>
   
    


    <div class="tile is-ancestor">
        <div class="tile is-4  is-parent">
          <div class="tile is-child ">
            
            <img src="https://yt3.googleusercontent.com/-wMFlmu98kI9HYI1OP4vwktJnB8ifzBWcb6Vyr9wdw7edS7s4wKWrwuMLAdXbBuuTd4ivIKe-w=s176-c-k-c0x00ffffff-no-rj">
            <p><strong>महंत स्वामी जीवनऋषी जी </strong></p>
          </div>
          
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title">नमस्कार साथियों, हमारी संस्थान श्री जीवनऋषी सेवा आश्रम का उद्देश्य है धार्मिक कार्य और समाज सेवा करना और लोगों को जागरूक करना। यह कार्य हम सभी के सहयोग और सहायता से ही कर सकते हैं। धन्यवाद।  </p>
          </div>
        </div>
      </div>
</body>

