body{
    background-image: url("/img/back.jpeg.jpg");
    background-size:cover ;
    text-align: center;
    
}
h1{
    
    color: rgba(18, 80, 212, 0.822);
    text-shadow: 2px 2px #ffffff65;
}

.hero{
    
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(127, 255, 212, 0.315);
    
}
