body{
    background-image: url("/img/back.jpeg.jpg");
       
}
.tile .title{
    text-align: center;
    color: rgb(99, 18, 3);
    text-shadow: 2px 2px #ffffff65;
}
#top-level-hero{
    background-color: #1362d857;
}
#hero-1{
    background-color: rgba(255, 238, 4, 0.438);
    margin-top: 20px;
    margin-bottom: 20px;
   
}
#hero-2{
    background-color: rgba(252, 252, 252, 0.26);
    margin-top: 20px;
    margin-bottom: 20px;
   
}
#hero-3{
    background-color: rgba(11, 231, 139, 0.342);
    margin-top: 20px;
    margin-bottom: 20px;
   
}

iframe{
    display: inline;
}


#border #hero-title{
    text-align: left;
    border-left:5px solid rgb(41, 84, 202);
    margin-bottom: 10px;
    color: rgba(8, 41, 148, 0.664);
}
#containerForFrontCards{
    text-align: center;
    
}

#top-title{
    text-align: center;
    background: linear-gradient(to right,#caad09 0%, #c78a05 50%,#dd4c9c 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




  .snowflake {
    position: fixed;
    background-color: #ddaa04;
    user-select: none;
    z-index: 1000;
    pointer-events: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }