body{
    background-image: url("/img/back.jpeg.jpg");
    color: rgba(68, 39, 231, 0.822);
    text-align: center;
    
    
}
h1{
    text-align: center;
    color: rgba(68, 39, 231, 0.822);
}

.card{
    margin: 20px;
}