body{
    background-image: url("/img/back.jpeg.jpg");
    background-size:cover;
    color: rgba(68, 39, 231, 0.822);
    text-align: center;
    margin: 0; padding: 0;
    
}


.marker {
display: block;
border: none;
border-radius: 50%;
cursor: pointer;
padding: 0;
}
